.tree-select{
  padding-left: 1em;
  overflow-y: hidden;
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  &>ul{
    list-style-type: none;
    padding-left: 0;
  }
  label, select{
    height: 1.5em;
    transform-origin: center left;
    transition-property: transform, opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
  }
  label{
    display: inline-block;
    white-space: nowrap;
    &>*{
      vertical-align: middle;
      white-space: nowrap;
    }
    &>input[type="checkbox"], &>input[type="radio"]{
      margin: 0;
      width: 1em;
      height: 1em;
    }
    &>span{
      padding-left: 0.3em;
    }
  }
  select{
    padding-left: 0.8em;
    font-size: 100%;
    font-family: inherit;
    -webkit-padding-after: 0.1em;
  }
  .inactive{
    transform: scale(0.9);
    opacity: 0.8;
  }
}